/* [AI-generated, ChatGpt]*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&family=Space+Mono:wght@400;700&display=swap');



.nav {
  font-family: 'Space Mono', 'Lexend', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 49, 31, 0.35);
    /* border-bottom: 2px solid #3c482e; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-top: .5%;
    padding-bottom: .5%;
  }
  
  .nav .leftside{
    display: flex;
  }

  .nav .leftside li {
    align-items: center;
  }


  /* .nav .rightside {
    display:flex;
    
  }
  
  .nav li a {
    align-items: center;
    text-decoration: none;
    color: #C9EFC7;
    font-size: .9rem;
    font-weight: BOLD;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .nav li a:hover {
    color: #d5ffd3;
    font-size: 1rem;
  }
   */

   
   .navbarLinks {
    display: flex;
    flex-direction: row;
   }

  .navbarLinks > *{
    align-items: center;
    text-decoration: none;
    color: #C9EFC7;
    font-size: .9rem;
    font-weight: BOLD;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .navbarLinks > *:hover {
    color: #d5ffd3;
    font-size: 1rem;
  }
  
  #titleSection {
    justify-content: center;
    height: 100vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .halfWidth {
    display: flex;
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    float: left;
    clear: none;
    flex-direction: column;
  }

  .title {
    font-family:  'Lexend', sans-serif;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #C9EFC7;
  }

  .abtButton {
    font-family: 'Space Mono', 'Lexend', sans-serif; 
    background: linear-gradient(to bottom right, #29BA87, #6AD459);
    border-radius: 28px;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .abtButton:hover {
    background: linear-gradient(to bottom right, #6AD459, #29BA87);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  }
  

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 5rem;
  }

  .smth {
    display: flex;
    height: 100vh;
    padding: 5rem 0;
  }

  .section2Left {
    display: flex;
    width: 40%;
    padding-left: 5rem;
    justify-content: center;
    align-items: center;
  }

  .section2Right {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    
  }

  .badges{
    display: flex;
    height: 100vh;
  }

  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
  }
  
  
  
  .secondarySection {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    padding-bottom: 3rem; /* add padding to create space below each section */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .secondaryTitle {
    font-family: 'Lexend', sans-serif;
    justify-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #C9EFC7;
    text-align: left;
    display: inline-block;
    padding-left: 2rem;
  }
  
  .artistexamples {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    color:#c8d6c3;
  }

  .secondaryDescription {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #c8d6c3;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .scroll-section {
    overflow-y: scroll;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-height: 60vh;
    width: 80%;
    background-color: rgba(34, 49, 31, 0.8);
    border: 2px solid #3c482e;
    padding: 1rem;
    color: #c8d6c3;
  }
  
  .grid-item {
    color: #c8d6c3;
    background-color: rgba(34, 49, 31, 0.8);
    border: 2px solid #3c482e;
    padding: 1rem;  
    margin: 1rem;
  }
  
  .grid-item:hover {
    background-color: #3c482e;
  }


  .runner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .runner {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: runner 20s linear infinite;
    width: 100%;
  }
  
  .runner:first-child {
    left: 0;
    animation-delay: 10s;
  }
  
  @keyframes runner {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #6bc85d; */
    background: linear-gradient(45deg, #a6de9a, #086515);
    /* background: linear-gradient(to bottom, #6AD459, #29BA87); */
    color: #164604;
  }
    
  .header {
      font-family: 'Space Mono', 'Lexend', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
      color: #c9efc7;
  }

    .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    width: clamp(10rem, 30%, 20rem);
  }
  
  .label {
    font-family: 'Space Mono', 'Lexend', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #c9efc7;
  }
  
  .input {
    all: unset;
    background-color: #3B3B3B;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .input::placeholder {
    font-family: 'Space Mono', 'Lexend', sans-serif;
  }

  .button {
    width: 100%;
    font-family: 'Space Mono', 'Lexend', sans-serif;
    background-color: #c9efc7;
    color: #164604;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #d5ffd3;
  }
  
  .noCredentials, .artistCheckbox {
    font-family: 'Space Mono', 'Lexend', sans-serif;
    margin-top: 1rem;
    width: clamp(10rem, 30%, 20rem);
    font-size: 0.9rem;
    color: #c9efc7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .noCredentials div{
    cursor: pointer;
  }

.artistCheckbox {
  height: inherit;
  margin-top: 0;
  margin-bottom: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.artistCheckbox input[type="checkbox"] {
  margin-right: 0.4rem;
  height: 1rem;
  aspect-ratio: 1;
}

  .registerLink {
  font-family: 'Space Mono', 'Lexend', sans-serif;
  color: #c9efc7;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  }
  
  .registerLink:hover {
  color: #d5ffd3;
  }
   /* [AI-generated, ChatGpt]*/
  