@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&family=Space+Mono:wght@400;700&display=swap');


.bannerContainer{
    display:flex;
    width: 75%;
    height: 3rem;
    justify-content: center;
}

.visibleBannerContainer{
    display:flex;
    height: 3rem;
    width: 53%;
    justify-content: center;
}

.sections{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10rem; */
}

.followerSection{
    display:flex;
    flex-direction: column;
    border-right: 1px solid #b6eeff;
    /* background-color: yellow; */
    width: 33%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.followerSectionV {
    display:flex;
    flex-direction: column;

    /* background-color: yellow; */
    width: 33%;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5px; */

}

.availSection{
    display:flex;
    flex-direction: column;
    border-left: 1px solid #b6eeff;

    
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5px; */
    width: 67%;
    
}
/* .walletContainer{
    background-color: yellow;
} */

.ethSection{
    display:flex;
    flex-direction: column;
    border-left: 1px solid #b6eeff;
    /* background-color: yellow; */
    width: 33%;
    justify-content: center;
    align-items: center;
}

.txt{
    font-family: 'Lexend', sans-serif; 
    /* color: black; */
    color: #b6eeff;
    font-size: 20px;
}