/* Created by Anneliese Breidsprecher */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&family=Space+Mono:wght@400;700&display=swap');

/* .form {
    display: flex;
    justify-content: center;
    align-items: center;
    
  } */

  .search{
    display: flex;
    border: 1px solid white;
    border-radius: 50px;
    font-family:  'Lexend', sans-serif;
    padding: 10px 25px;
    position: fixed;
    left: calc(50% - 7.5rem);
    width: 15rem;
    text-align: center;
    background-color: white ;
    color: black;
    outline: none;
    /* text-indent: 15px; */
    /* border-radius: 5px 0 0 5px; */
  }

  .search::placeholder{
    color: grey;
    /* text-align: left; */
    /* text-align: left; */
  }

  
  
  .input[type="text"] {
    padding: 10px;
    border: none;
    color: black;
    outline: none;
    border-radius: 50px;
  }

  .input::placeholder{
    color: black;
  }


  /* .dropdownContainer{
    width: 50%;
    top: 70px;
    background-color: yellow;
  } */
  .dropdown {
    position: absolute;
    border-radius: 7px;
    top: 56px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 25%;
    margin-left: 37.5%;

    
  }
  
  .dropdown p {
    margin: 0;
    padding: 8px 16px;
    cursor: pointer;
    color: black;
    font-family:  'Lexend', sans-serif;
    text-align: center;

  }
  
  .dropdown p:hover {
    background-color: #b6eeff;
    /* background: linear-gradient(to bottom, #42d6ff, #0166cc); */
  }
  /* :active */
  
  /* .button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .button[type="submit"]:hover {
    background-color: #3e8e41;
  } */
  