@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&family=Space+Mono:wght@400;700&display=swap');

.container {
  min-height: 175vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.main {
  /* padding: 5rem 0; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artistProfile {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: left;
  width: 100vw;
}

.artistProfileImage {

  width: 2000px;
  height: 550px;
  margin-top: 0rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.artistProfileName {
  font-size: 5rem;
  font-family: 'Lexend', sans-serif;
  margin-top: 400px;
  background-color: rgba(46, 46, 46, 0.6);
  
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.formControlWrapper {
  display: flex;
  align-items: flex-start;
  margin-top:10rem; 
}

.formControlWrapper * {
  height: 50px;
}

.artistProfileBio {
  font-size: 1.2rem;
  text-align: left;
  font-family: 'Lexend', sans-serif;
  margin-top: 0px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  background-color: rgba(46, 46, 46, 0.6);

}

.collectibles {
  margin-top: 2rem;
}

.collectiblesTitle {
  margin-top: 70px;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Lexend', sans-serif;
  color: #42d6ff;
  text-align: center;
}

.collectiblesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.artistBadges {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}